@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  font-display: optional;
  src: url('/fonts/inter.woff2') format('woff2');
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}

.nav {
  backdrop-filter: saturate(180%) blur(20px);
}

.heading {
  @apply font-bold text-5xl dark:text-gray-200;
}

.guestbook-header {
  @apply text-lg sm:text-xl font-bold text-gray-900 dark:text-gray-200;
}

.message {
  @apply text-sm mt-4 -mb-6;
}

.input {
  @apply block bg-white dark:bg-gray-700 outline-none rounded-md py-2 mt-1;
}

.input-effects {
  @apply hover:ring-blue-100 dark:hover:ring-gray-600 hover:ring-2 focus:ring-blue-200 dark:focus:ring-gray-500 focus:ring-2;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
