@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  src: url('/fonts/inter.woff2') format('woff2');
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}

.nav {
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

.landing-text {
  @apply text-xs sm:text-lg text-gray-700 dark:text-gray-200 mt-2;
}

.heading {
  @apply font-bold text-5xl dark:text-gray-200;
}

.guestbook-header {
  @apply text-lg sm:text-xl font-bold text-gray-900 dark:text-gray-200;
}
