@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  src: url('/fonts/inter.woff2') format('woff2');
}

body {
  background-color: rgba(252, 252, 252);
}

.landing-super {
  @apply text-lg sm:text-3xl font-bold text-gray-800 pb-3;
}

.landing-hero {
  @apply font-bold bg-clip-text text-transparent bg-gradient-to-r from-primaryLight to-primaryDark pb-2 mb-2;
}

.landing-text {
  @apply text-xs sm:text-lg text-gray-700 mt-2;
}
